* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.descrição {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo-tia-bru {
    margin-top: 400px;
    width: 380px;
    position: fixed;
}


.caixa-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.caixa-menu a {
    color: white;
    margin-top: 25px;
    cursor: pointer;
    font-size: 20px;
}

.caixa-menu a:hover {
    color: #ff5e00;
    font-size: 26px;
    transition: 0.5s ease-out;
}

.img-de-fundo {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
}

.caixa-gif {
    position: fixed;
    top: 0;
    z-index: -1;

}

.mascara {
    height: 100%;
    width: 100%;
    background: linear-gradient(109deg, rgba(34, 38, 47, 0.99) 15%, rgba(43, 52, 70, 0.7) 30%, rgba(52, 60, 75, 0.99) 95%);
    ;
    position: fixed;
    top: 0;
}


.caixa-texto {
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-top: 400px;
    margin-left: 50px;
}

p:hover {
    color: #ff5e00;
    font-size: 23px;
    transition: 0.5s ease-out;
}

.link-whatsapp {
    height: 60px;
    position: fixed;
    right: 50px;
    bottom: 20px;
    cursor: pointer;
}

.link-whatsapp:hover {
    height: 70px;
    transition: 0.5s ease-out;
}

.link-instagran {
    height: 60px;
    position: fixed;
    right: 145px;
    bottom: 20px;
    cursor: pointer;
}

.link-instagran:hover {
    height: 70px;
    transition: 0.5s ease-out;
}

ul {
    color: white;
    justify-content: center;
    margin: 40px 405px;
    font-size: 28px;
    position: fixed;
}

li {
   
   
    border-radius: 5px;
    padding: 5px;
}
